.Navigation {
    display: flex;
    min-width: 50vw;
    margin-bottom: 5vw;
    justify-content: space-between;
    margin-top: 1vh;
}

.column {
    flex: 49%;
    text-align: center;
    border: solid;
    padding: 1%;
    text-decoration: none;
}

.space {
    flex: 2%;
}